<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ user.name }} {{ user.age }} {{site.name}}
<table>
    <tr>
        <th>
            id
        </th>
        <th>
            value
        </th>
        <th>
            other
        </th>
        <th>
            other1
        </th>
        <th>
            site
        </th>
    </tr>
{% for object in object_list %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.value }}</td>
        <td>{{ object.other.value }}</td>
        <td>
        {% for o in object.other1.all %} {{o.value}} {% endfor %}
        </td>
        <td> {{object.site.name}}
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>